@inject PorfolioDbContext dbContext;
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@{
    User user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    }
}

@{
    List<MessengeUser> messenge = dbContext.MessengeUsers.Where(dr => dr.User.UserName == User.Identity.Name && dr.IsRead == false).ToList();
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/img/uversalfilo.png" rel="icon">
    @RenderSection("header_link", false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="~/img/uversalfilo.png" rel="apple-touch-icon">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/UserAdmin"><img src="~/Admin/assets/images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">

                            @await Component.InvokeAsync("SideBar")
                            

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            
                            <li class="dropdown">
                                <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>@messenge.Count</span></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <span class="notify-title">
                                        @if (messenge.Count != 0)
                                        {
                                            <span> You have @messenge.Count  new notifications</span>
                                        }

                                        <a href="/UserAdmin/Messange/List">view all</a>
                                    </span>
                                    <div class="nofity-list">

                                        @foreach (var item in messenge)
                                        {
                                            <a href="/UserAdmin/Messange/Show/@item.Id" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="~/img/Profile/profil.png" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>@item.FullName</p>
                                                    <span class="msg">@item.Description.Substring(0, 19) ...</span>
                                                    <span>@item.Date.ToShortTimeString()</span>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </li>
                            @*<li class="settings-btn">
                                    <i class="ti-settings"></i>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">@ViewData["Location"]</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="https://fontawesome.com/v5/search?m=free">Icons = >  Font Awsome ( only Free)</a></li>
                                <li> <a href="https://icons.getbootstrap.com/"> Bootstrap</a></li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="~/img/Profile/@user.Image" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@user.UserName <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/UserAdmin/Messange/List">Message</a>
                                <a class="dropdown-item" href="/Home/Index/@user.UserName">Show My Profile</a>
                                <a class="dropdown-item" href="/UserAdmin/Settings/Index">Settings</a>
                                <a class="dropdown-item" href="/Signin/LogOut" ">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @RenderBody()

        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
   

    @RenderSection("footer_link", false)


</body>

</html>
