@model BlogVM
@{
    string namesss = "@sweetalert2";
    ViewData["Location"] = "Blog ";
    ViewData["Title"] = "Blog";
}

@section header_link {

    <partial name="_AdminPanelHeaderLink" />
    <link href="//cdn.jsdelivr.net/npm/@namesss/theme-dark@4/dark.css" rel="stylesheet">
    <style>
        #file-ip-1-preview {
            display: none;
        }
    </style>

}


<div class="main-content-inner">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <form class="card-body" method="post" enctype="multipart/form-data">
                    <h4 class="header-title">
                        Portfolio
                        @if (ViewBag.IsCreate)
                        {
                            <span>
                                Create
                            </span>
                        }
                        else
                        {
                            <span>
                                Update
                            </span>
                        }

                    </h4>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="row">
                        <div class="form-group col-9">
                            <label asp-for="Blog.BlogCategoryId">Category</label>
                            <select class="form-control" style="height:50px;" asp-for="Blog.BlogCategoryId">
                                @foreach (var item in Model.CategoriesVM)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn mt-4 btn-md btn-outline-primary" data-toggle="modal" data-target="#contactUpdateModalCenter">Add New Category</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-9">
                            <label asp-for="TagIds">Tags</label>
                            <div class="alert alert-warning" role="alert">
                                <strong>Warning!</strong> Your Selected Tag Limit 10 !
                            </div>
                            <select class="form-control" required multiple asp-for="TagIds">
                                @foreach (var item in Model.Tags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn mt-4 btn-md btn-outline-primary" data-toggle="modal" data-target="#tagModalCenter">Add New Tag</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Blog.Title" class="col-form-label">Title</label>
                        <input class="form-control" type="text" asp-for="Blog.Title">
                        <span asp-validation-for="Blog.Title" class="text-danger my-1"></span>
                    </div>
                    <p class="p-1">Image</p>
                    <span asp-validation-for="Photo" class="text-danger my-1"></span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload Image</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" asp-for="Photo" accept="image/jpeg,image/jpg,image/png,image/gif,image/jfif" onchange="showPreview(event);">
                            <label class="custom-file-label" asp-for="Photo">Choose Image</label>
                        </div>
                        <div class="w-100 d-flex mt-3 justify-content-center">
                            <img id="file-ip-1-preview" class="img-fluid" src="0" alt="your image" />
                        </div>
                    </div>

                    @if (!ViewBag.IsCreate)
                    {
                        <div class="my-3">
                            <label class="col-form-label d-block">Current Image</label>
                            <img style="width:300px;height:auto;" src="~/img/Blog/@Model.Blog.Image" />
                        </div>
                    }

                    <div class="form-group col-12">
                        <label asp-for="Blog.Description">Front Description</label>
                        <textarea class="form-control" asp-for="Blog.Description" rows="3"></textarea>
                        <span asp-validation-for="Blog.Description" class="text-danger my-1"></span>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Blog.BlogDetails.Description">Blog Description</label>
                        <textarea class="form-control" asp-for="Blog.BlogDetails.Description" id="Descriptoion" rows="3"></textarea>
                        <span asp-validation-for="Blog.BlogDetails.Description" class="text-danger my-1"></span>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Textual inputs end -->
    </div>
</div>

<div class="modal fade" id="contactUpdateModalCenter" tabindex="-1" role="dialog" aria-labelledby="contactUpdateModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    Add New Category
                </h4>
            </div>
            <div class="modal-body text-center">
                <form method="post" id="form">
                    <input type="hidden" id="connectonlieId">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Name" required id="name">
                        <div id="error" class="text-danger"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnForm" form="form" type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="tagModalCenter" tabindex="-1" role="dialog" aria-labelledby="tagModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    Add New Tag
                </h4>
            </div>
            <div class="modal-body text-center">
                <form method="post" id="tagform">
                    <input type="hidden" id="connectonlieId">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Name" required id="tagname">
                        <div id="error" class="text-danger"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="tagform" type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section footer_link{

    <partial name="_AdminPanelScripts" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#Descriptoion'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script>

        $(document).ready(() => {

            $(document).on('submit', '#form', (e) => {
                e.preventDefault();
                const id = $("#name").val()
                Swal.fire({
                    title: 'Give me a second.',
                    text: '"',
                    imageUrl: 'https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif',
                    imageWidth: 400,
                    imageHeight: 350,
                    imageAlt: 'Loading',
                });
                $.ajax({
                    url: '/UserAdmin/BlogCategory/Create',
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    type: 'POST',
                    data: { name: id },
                    success: (response) => {
                        if (response.hasOwnProperty('status') && response.status === 201) {
                            Swal.fire(
                                'New Category Added',
                                '',
                                'success'
                            )
                            setTimeout(() => {
                                location.href = '/UserAdmin/Blog/Create';

                            }, 2000)

                        } else if (response.status == 400) {
                            Swal.fire(
                                'This Tags Already Added',
                                '',
                                'error'
                            )
                        } else {
                            Swal.fire(
                                'Not Added',
                                '',
                                'error'
                            )
                        }
                    }
                })
            })

            $(document).on('submit', '#tagform', (e) => {
                e.preventDefault();
                const id = $("#tagname").val()
                $.ajax({
                    url: '/UserAdmin/Tag/Create',
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    type: 'POST',
                    data: { name: id },
                    success: (response) => {
                        if (response.hasOwnProperty('status') && response.status === 201) {
                            Swal.fire(
                                'New Category Added',
                                '',
                                'success'
                            )
                            setTimeout(() => {
                                location.href = '/UserAdmin/Blog/Create';

                            }, 2000)

                        } else if (response.status == 400) {
                            Swal.fire(
                                'This Tags Already Added',
                                '',
                                'error'
                            )
                        } else {
                            Swal.fire(
                                'Not Added',
                                '',
                                'error'
                            )
                        }
                    }
                })
            })

        })

    </script>

    <script>
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />

}

