@model IndexVM
@using System.Text;
@{
    ViewData["Title"] = "Home Page";
    string namesss = "@sweetalert2";
}

@section header{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="//cdn.jsdelivr.net/npm/@namesss/theme-dark@4/dark.css" rel="stylesheet">
<style>
    .lead-add a {
        color: rgba(0, 128, 207, 0.6);
    }

    .lead-add a:hover {
        color: #1878FF;
    }
</style>
}

<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image:url(/img/Home/@Model.User.Home.Image)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="hero-title mb-4">@Model.User.Home.HomeSlogan</h1>
                <p class="hero-subtitle"><span class="typed" data-typed-items="@Model.User.Home.Skills"></span></p>
            </div>
        </div>
    </div>
</div><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img style="max-width:160px; height:auto;" src="~/img/Profile/@Model.User.Image" class="img-fluid rounded b-shadow-a" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>@Model.User.FullName</span></p>
                                            <p>
                                                <span class="title-s">Skill: </span>
                                                <span class="mx-2"> @Model.User.About.MainSkill</span>
                                            </p>

                                            @if (Model.User.Contact != null)
                                            {

                                                if (Model.User.Contact.Email != null)
                                                {
                                                    <p><span class="title-s">Email: </span> <span>@Model.User.Contact.Email</span></p>
                                                }
                                                if (Model.User.Contact.PhoneNumber != null)
                                                {
                                                    <p><span class="title-s">Phone Number: </span> <span>@Model.User.Contact.PhoneNumber</span></p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (Model.User.About.SkillCodes.Count != 0)
                                {
                                    <div class="skill-mf">
                                        <p class="title-s">My Skill Degree</p>
                                        @foreach (var item in Model.User.About.SkillCodes)
                                        {
                                            <div class="d-flex justify-content-between">
                                                <span>@item.Name</span> <span class="pull-right">@item.Percent%</span>

                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: @item.Percent%;" aria-valuenow="@item.Percent" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <div class="lead-add">
                                        @Html.Raw(Model.User.About.Descriptoion)
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

    @if (Model.User.Services.Count != 0)
    {
        <!-- ======= Services Section ======= -->
        <section id="services" class="services-mf pt-5 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Services
                            </h3>
                            <p class="subtitle-a">
                                You can contact me for these services.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @foreach (var item in Model.User.Services)
                    {
                        <div class="col-md-4">
                            <div class="service-box">
                                <div class="service-ico">
                                    <span class="ico-circle"> @Html.Raw(item.Icon)</span>
                                </div>
                                <div class="service-content">
                                    <h2 class="s-title">@item.Name</h2>
                                    <div class="s-dec-add">
                                        @Html.Raw(item.Descriptoion)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Services Section -->
    }

    @if (Model.User.Achievements.Count != 0)
    {
        <!-- ======= Counter Section ======= -->
        <div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg) ">
            <div class="overlay-mf"></div>
            <div class="container position-relative">
                <div class="row justify-content-center">
                    @foreach (var item in Model.User.Achievements)
                    {
                        <div class="col-sm-3 my-2 col-lg-3">
                            <div class="counter-box counter-box pt-4  pt-md-0">
                                <div class="counter-ico">
                                    <span class="ico-circle">@Html.Raw(item.Icon)</span>
                                </div>
                                <div class="counter-num">
                                    <p data-purecounter-start="0" data-purecounter-end="@item.Count" data-purecounter-duration="1" class="counter purecounter"></p>
                                    <span class="counter-text">@item.Name</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!-- End Counter Section -->
    }

    @if (Model.Portfolios.Count != 0)
    {
        <!-- ======= Portfolio Section ======= -->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Portfolio
                            </h3>
                            <p class="subtitle-a">
                                From the work I successfully completed.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var work in Model.Portfolios)
                    {

                        <div class="col-md-4">
                            <div class="work-box">
                                <a href="~/img/Porfolio/@work.Image" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <div class="work-img">
                                        <img src="~/img/Porfolio/@work.Image" alt="" class="w-100 h-auto">
                                    </div>
                                </a>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">@work.Title</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">@work.PortfolioCategory.Name</span> / <span class="w-date">@work.Date.Day @work.Date.ToString("Y") </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <a href="/Home/PortfolioSinglePage/@work.Id"> <span class="bi bi-plus-circle"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Portfolio Section -->
    }

    @if (Model.User.Referances.Count != 0)
    {
        <!-- ======= Testimonials Section ======= -->
        <div class="testimonials paralax-mf bg-image" style="background-image: url(/img/overlay-bg.jpg)">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.User.Referances)
                                {

                                    <div class="swiper-slide">
                                        <div class="testimonial-box">
                                            <div class="author-test">
                                                <img style="width:150px;height:auto;" src="~/img/Refreance/@item.Image" alt="" class="b-shadow-a">
                                                <span class="author">@item.Name</span>
                                            </div>
                                            <div class="content-test">
                                                <div class="descript-add">
                                                    @Html.Raw(item.Title)
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End testimonial item -->
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">

                        </div> -->
                    </div>
                </div>
            </div>
        </div><!-- End Testimonials Section -->
    }

    @if (Model.Blogs.Count != 0)
    {
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Blog
                            </h3>
                            <p class="subtitle-a">
                                Part of my research
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-img d-flex justify-content-center">
                                    <a asp-controller="Home" asp-action="SinglePage" asp-route-id="@item.Id"><img src="~/img/Blog/@item.Image" alt="" class="img-fluid"></a>
                                </div>
                                <div class="card-body">
                                    <div class="card-category-box">
                                        <div class="card-category">
                                            <h6 class="category">@item.BlogCategory.Name</h6>
                                        </div>
                                    </div>
                                    <h3 class="card-title"><a asp-controller="Home" asp-action="SinglePage" asp-route-id="@item.Id">@item.Title</a></h3>
                                    <p class="card-description">
                                        @item.Description
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-author">
                                        <a href="#about">
                                            <img src="~/img/Profile/@Model.User.Image" alt="" class="avatar rounded-circle">
                                            <span class="author">@Model.User.FullName</span>
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <span class="bi bi-clock"></span>
                                        <span class="mx-1">
                                            @if (item.Time.Hours != 0)
                                            {
                                                @item.Date.Day @item.Date.ToString("Y")
                                            }
                                            else
                                            {
                                                <span> @item.Time.Minutes : 00</span>
                                            }

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Blog Section -->
    }

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Send Message Me
                                        </h5>
                                    </div>
                                    <div>
                                        <form id="form" method="post" role="form">
                                            <div class="row">
                                                <input type="hidden" id="UserId" value="@Model.User.Id" />
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" id="FullName" class="form-control" placeholder="Your FullName" required>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="email" id="Email" class="form-control" placeholder="Your Email" required>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Subject" placeholder="Subject" required>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="Description" rows="5" placeholder="Message" required></textarea>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2 text-center">
                                                    <button type="submit" class="button  button-a button-big button-rouded">Send Message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">
                                            Get in Touch
                                        </h5>
                                    </div>
                                    @if (Model.User.Contact == null)
                                    {
                                        <div class="more-info">
                                            <p class="lead">
                                                You Contact Me Here
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="more-info">
                                            <div class="lead-add">
                                                @Html.Raw(Model.User.Contact.Description)
                                            </div>
                                            <ul class="list-ico">
                                                <li><span class="bi bi-geo-alt"></span> @Model.User.Contact.Location</li>
                                                @if (Model.User.Contact.PhoneNumber != null)
                                                {
                                                    <li><span class="bi bi-phone"></span> @Model.User.Contact.PhoneNumber</li>

                                                }
                                                @if (Model.User.Contact.Email != null)
                                                {
                                                    <li><span class="bi bi-envelope"></span> @Model.User.Contact.Email</li>
                                                }

                                            </ul>
                                        </div>
                                        <div class="socials">
                                            <ul>
                                                @foreach (var item in Model.User.Contact.ContactOnlines)
                                                {
                                                    <li>
                                                        <a href="@item.Url">
                                                            <span class="ico-circle d-flex justify-content-center align-items-center">
                                                                @Html.Raw(item.Icon)
                                                            </span>
                                                        </a>
                                                    </li>
                                                }



                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->


@section script{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/Admin/assets/js/popper.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/messange_validation.js"></script>

    <!--Messange Send Ajax-->
    <script>
        $(document).ready(function () {
            $(".lead-add").each(function () {
                $(this).children("p").addClass("lead");
            })

            $(document).on('submit', '#form', (e) => {
                e.preventDefault();
                const UserId = $("#UserId").val()
                const FullName = $("#FullName").val()
                const Email = $("#Email").val()
                const Subject = $("#Subject").val()
                const Description = $("#Description").val()

                if (!MessangeValidation(UserId, FullName, Email, Subject, Description)) {
                    console.log("Not validated")
                    return;
                }

                Swal.fire({
                    title: 'Give me a second.',
                    text: '"',
                    imageUrl: 'https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif',
                    imageWidth: 400,
                    imageHeight: 350,
                    imageAlt: 'Loading',
                })

                $.ajax({
                    url: '/Assistant/MessangeSend',
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    type: 'POST',
                    data: { UserId: UserId, FullName: FullName, Email: Email, Subject: Subject, Description: Description },
                    success: (response) => {
                        if (response.hasOwnProperty('status') && response.status === 201) {
                            // Messange Success
                            Swal.fire(
                                'Messange Send',
                                '',
                                'success'
                            )
                            // Clean Input
                            $("#FullName").val("")
                            $("#Email").val("")
                            $("#Subject").val("")
                            $("#Description").val("")

                        } else if (response.status == 400) {
                            Swal.fire(
                                'This Tags Already Added',
                                '',
                                'error'
                            )
                        } else {
                            Swal.fire(
                                'Not Added',
                                '',
                                'error'
                            )
                        }
                    }
                })
            })

        })
    </script>

    <!--Referance Text Class Add-->
    <script>
        $(document).ready(function () {
            $(".s-dec-add").each(function () {
                $(this).children("p").addClass("s-description")
                $(this).children("p").addClass("text-center")
            })
        })
    </script>

    <!--About Text Class Add-->
    <script>
        $(document).ready(function () {
            $(".descript-add").each(function () {
                $(this).children("p").addClass("description")
                $(this).children("p").addClass("lead")
            })
        })
    </script>


}
