@model User
@using System.Text;

@{
    ViewData["Title"] = "Home Page";

    StringBuilder skils = new StringBuilder();


    for (int i = 0; i < Model.About.Skills.Count; i++)
    {
        if (i == 0)
        {
            skils.Append(Model.About.Skills[i].Name);
        }
        else
        {
            skils.Append(",");
            skils.Append(Model.About.Skills[i].Name);
        }
    }
}

@section header{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}

<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image:url(/img/Home/@Model.Home.Image)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="hero-title mb-4">@Model.Home.HomeSlogan</h1>
                <p class="hero-subtitle"><span class="typed" data-typed-items="@skils.ToString()"></span></p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div><!-- End Hero Section -->

<main id="main">

    @if (Model.About != null)
    {

        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="~/img/Profile/@Model.Image" class="img-fluid rounded b-shadow-a" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p><span class="title-s">Name: </span> <span>@Model.FullName</span></p>
                                                <p>
                                                    <span class="title-s">Skill: </span>
                                                    <span class="mx-2"> @Model.About.MainSkill</span>
                                                </p>

                                                @if (Model.Contact != null)
                                                {

                                                    if (Model.Contact.Email != null)
                                                    {
                                                        <p><span class="title-s">Email: </span> <span>@Model.Contact.Email</span></p>
                                                    }
                                                    if (Model.Contact.PhoneNumber != null)
                                                    {
                                                        <p><span class="title-s">Phone Number: </span> <span>@Model.Contact.PhoneNumber</span></p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.About.SkillCodes.Count != 0)
                                    {
                                        <div class="skill-mf">
                                            <p class="title-s">Code Skill</p>
                                            @foreach (var item in Model.About.SkillCodes)
                                            {
                                                <span>@item.Name</span> <span class="pull-right">@item.Percent%</span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: @item.Percent%;" aria-valuenow="@item.Percent" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                About me
                                            </h5>
                                        </div>
                                        <div class="lead-add">
                                            @Html.Raw(Model.About.Descriptoion)
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    }
    else
    {

        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="~/img/Profile/@Model.Image" class="img-fluid rounded b-shadow-a" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p><span class="title-s">Name: </span> <span>@Model.FullName</span></p>


                                                @if (Model.Contact != null)
                                                {

                                                    if (Model.Contact.Email != null)
                                                    {
                                                        <p><span class="title-s">Email: </span> <span>@Model.Contact.Email</span></p>
                                                    }
                                                    if (Model.Contact.PhoneNumber != null)
                                                    {
                                                        <p><span class="title-s">Phone Number: </span> <span>@Model.Contact.PhoneNumber</span></p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                About me
                                            </h5>
                                        </div>
                                        <p class="lead">
                                            Hi,My name is @Model.FullName .
                                            <br />
                                            I love to research.
                                            <br />
                                            Learning new things, self driven, hard working and friendly.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    }

    @if (Model.Services.Count != 0)
    {
        <!-- ======= Services Section ======= -->
        <section id="services" class="services-mf pt-5 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Services
                            </h3>
                            <p class="subtitle-a">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Services)
                    {
                        <div class="col-md-4">
                            <div class="service-box">
                                <div class="service-ico">
                                    <span class="ico-circle"> @Html.Raw(item.Icon)</span>
                                </div>
                                <div class="service-content">
                                    <h2 class="s-title">@item.Name</h2>
                                    <p class="s-description text-center">
                                        @item.Descriptoion
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Services Section -->
    }

    @if (Model.Achievements.Count != 0)
    {
        <!-- ======= Counter Section ======= -->
        <div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg) ">
            <div class="overlay-mf"></div>
            <div class="container position-relative">
                <div class="row justify-content-center">
                    @foreach (var item in Model.Achievements)
                    {
                        <div class="col-sm-3 my-2 col-lg-3">
                            <div class="counter-box counter-box pt-4  pt-md-0">
                                <div class="counter-ico">
                                    <span class="ico-circle">@Html.Raw(item.Icon)</span>
                                </div>
                                <div class="counter-num">
                                    <p data-purecounter-start="0" data-purecounter-end="@item.Count" data-purecounter-duration="1" class="counter purecounter"></p>
                                    <span class="counter-text">@item.Name</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!-- End Counter Section -->
    }

    @if (Model.PortfoliosVM.Count != 0)
    {
        <!-- ======= Portfolio Section ======= -->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Portfolio
                            </h3>
                            <p class="subtitle-a">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    @foreach (var work in Model.PortfoliosVM)
                    {

                        <div class="col-md-4">
                            <div class="work-box">
                                <a href="~/img/Porfolio/@work.Image" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <div class="work-img">
                                        <img src="~/img/Porfolio/@work.Image" alt="" class="img-fluid">
                                    </div>
                                </a>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="w-title">@work.Title</h2>
                                            <div class="w-more">
                                                <span class="w-ctegory">@work.PortfolioCategory.Name</span> / <span class="w-date">@work.Date.Day @work.Date.ToString("Y") </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="w-like">
                                                <a href="/Home/PortfolioSinglePage/@work.Id"> <span class="bi bi-plus-circle"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Portfolio Section -->
    }

    @if (Model.Referances.Count != 0)
    {
        <!-- ======= Testimonials Section ======= -->
        <div class="testimonials paralax-mf bg-image" style="background-image: url(/img/overlay-bg.jpg)">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.Referances)
                                {

                                    <div class="swiper-slide">
                                        <div class="testimonial-box">
                                            <div class="author-test">
                                                <img style="width:100px;height:auto;" src="~/img/@item.Image" alt="" class="rounded-circle b-shadow-a">
                                                <span class="author">@item.Name</span>
                                            </div>
                                            <div class="content-test">
                                                <p class="description lead">
                                                    @item.Title
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- End testimonial item -->
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">

                        </div> -->
                    </div>
                </div>
            </div>
        </div><!-- End Testimonials Section -->
    }

    @if (Model.BlogsVM.Count != 0)
    {
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Blog
                            </h3>
                            <p class="subtitle-a">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.BlogsVM)
                    {
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-img">
                                    <a asp-controller="Home" asp-action="SinglePage" asp-route-id="@item.Id"><img src="~/img/Blog/@item.Image" alt="" class="img-fluid"></a>
                                </div>
                                <div class="card-body">
                                    <div class="card-category-box">
                                        <div class="card-category">
                                            <h6 class="category">@item.BlogCategory.Name</h6>
                                        </div>
                                    </div>
                                    <h3 class="card-title"><a asp-controller="Home" asp-action="SinglePage" asp-route-id="@item.Id">@item.Title</a></h3>
                                    <p class="card-description">
                                        @item.Description
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-author">
                                        <a href="#about">
                                            <img src="~/img/Profile/@Model.Image" alt="" class="avatar rounded-circle">
                                            <span class="author">@Model.FullName</span>
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <span class="bi bi-clock"></span>
                                        <span class="mx-1">
                                            @if (item.Time.Hours != 0)
                                            {
                                                @item.Date.Day @item.Date.ToString("Y")
                                            }
                                            else
                                            {
                                                <span> @item.Time.Minutes : 00</span>
                                            }

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section><!-- End Blog Section -->
    }

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Send Message Us
                                        </h5>
                                    </div>
                                    <div>
                                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center my-3">
                                                    <div class="loading">Loading</div>
                                                    <div class="error-message"></div>
                                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">
                                            Get in Touch
                                        </h5>
                                    </div>
                                    @if (Model.Contact == null)
                                    {
                                        <div class="more-info">
                                            <p class="lead">
                                                You Contact Me Herw
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="more-info">
                                            <div class="lead-add">
                                                @Html.Raw(Model.Contact.Description)
                                            </div>
                                            <ul class="list-ico">
                                                <li><span class="bi bi-geo-alt"></span> @Model.Contact.Location</li>
                                                <li><span class="bi bi-phone"></span> @Model.Contact.PhoneNumber</li>
                                                <li><span class="bi bi-envelope"></span> @Model.Contact.Email</li>
                                            </ul>
                                        </div>
                                        <div class="socials">
                                            <ul>
                                                @foreach (var item in Model.Contact.ContactOnlines)
                                                {
                                                    <li>
                                                        <a href="@item.Url">
                                                            <span class="ico-circle d-flex justify-content-center align-items-center">
                                                                @Html.Raw(item.Icon)
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

@section script{

    <script>

      $(document).ready(function(){
        $(".lead-add").each(function(){
           $(this).children("p").addClass("lead")
        })
      })


    </script>

 }
