@model AccountVM
@{
}


<div class="main-content-inner">
    <div class="row">
        @if (TempData["AccountAlert"] != null)
        {
            <div class="col-12 mt-2 alert-dismiss">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    @TempData["AccountAlert"].ToString()
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </div>
        }
        <div class="col-12 mt-5">



            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h2 class="header-title ">Home Table</h2>
                        @if (Model.Home == null)
                        {


                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-success d-inline-block  ml-auto mb-3"><i class="ti-plus"></i></a>
                        }
                        else
                        {
                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-primary d-inline-block  ml-auto mb-3"><i style="font-size:1.3rem;font-weight:700;" class="fa fa-edit"></i></a>

                        }
                    </div>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Home != null)
                                    {
                                        <tr>
                                            <td>@Model.Home.HomeSlogan</td>
                                            <td>
                                                <img style="max-width : 150px; height: auto;" src="~/img/Home/@Model.Home.Image" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h2 class="header-title ">About Table</h2>
                        @if (Model.About == null)
                        {


                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-success d-inline-block  ml-auto mb-3"><i class="ti-plus"></i></a>
                        }
                        else
                        {
                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-primary d-inline-block  ml-auto mb-3"><i style="font-size:1.3rem;font-weight:700;" class="fa fa-edit"></i></a>

                        }
                    </div>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Main Skill</th>
                                        <th scope="col">Skills</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.About != null)
                                    {
                                        <tr>
                                            <td>@Model.About.MainSkill</td>
                                            <td>
                                                @foreach (var item in Model.About.Skills)
                                                {
                                                    <span class="mx-3">
                                                        @item.Name
                                                    </span>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-bordered my-3 table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Code Skill</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.About != null)
                                    {
                                        <tr>
                                            <td class="w-50">@Html.Raw(Model.About.Descriptoion)</td>
                                            <td class="w-50">
                                                <ul class="list-group">
                                                    @foreach (var item in Model.About.SkillCodes)
                                                    {
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            @item.Name
                                                            <span class="badge badge-primary badge-pill">@item.Percent</span>
                                                        </li>
                                                    }
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h2 class="header-title ">About Table</h2>
                        @if (Model.Contact == null)
                        {


                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-success d-inline-block  ml-auto mb-3"><i class="ti-plus"></i></a>
                        }
                        else
                        {
                            <a href="/Admin/Account/Create" class="btn btn-flat btn-outline-primary d-inline-block  ml-auto mb-3"><i style="font-size:1.3rem;font-weight:700;" class="fa fa-edit"></i></a>

                        }
                        <button type="button" class="btn mx-2 btn-flat btn-sm btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
                            Contact Link Add
                        </button>

                    </div>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Contact != null)
                                    {
                                        <tr>
                                            <td>@Model.Contact.Email</td>
                                            <td>
                                                @Model.Contact.PhoneNumber
                                            </td>
                                            <td>
                                                @Model.Contact.Location
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-bordered my-3 table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Code Skill</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Contact != null)
                                    {
                                        <tr>
                                            <td class="w-50">@Html.Raw(Model.Contact.Description)</td>
                                            <td class="w-50">
                                                @foreach (var item in Model.Contact.ContactOnlines)
                                                {
                                                    <a href="@item.Url" class="btn m-1 btn-outline-info">@Html.Raw(item.Icon) @item.Name</a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Connection Link Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form method="post" id="form">
                    <input type="hidden" id="connectId" value="@Model.Home.Id">
                    <div>
                        <input type="text" id="icon">

                    </div>
                    <div>
                        <input type="url" id="url">

                    </div>
                    <input type="text" id="name">
                    <input id="btnSubmit" type="submit" value="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section footer_link{

    <script src="~/Admin/assets/js/popper.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Admin/assets/js/jquery.slicknav.min.js"></script>
    
    <script>
        $(document).ready(() => {
            $(document).on("submit", "#form", (e) => {
                $.ajax({
                    url: "/UserAdmin/UserAccount/ContactOnlineCreate",
                    type: "POST",
                    data: { connectId: $("#connectId").val(), icon: $("#icon").val(), url: $("#url").val(), name: $("#name").val() },
                    success: (resp) => {
                        if (resp.hasOwnStatusProperty('status') && resp.status === 200) {
                            location.href = "/UserAdmin"
                        }

                    }


                })
            });


        })
    </script>


}