@model IList<MessengeUser>
@{
    ViewData["Location"] = "Messenge Box ";
    ViewData["Title"] = "Messenge List";
}
@section header_link{
    <partial name="_AdminPanelListHeaderLink" />
}


<div class="main-content-inner">
    <div class="row">
        <!-- Primary table start -->
        <div class="col-12  mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Messange Box</h4>
                    <div class="data-tables datatable-primary">
                        <table id="dataTable2" class=" w-100 text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Read</th>
                                    <th>Send Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                        <td>
                                            @if (item.Subject.Length > 19)
                                            {
                                                <span>  @item.Subject.Substring(0, 18) ...</span>
                                            }
                                            else
                                            {
                                                <span>  @item.Subject</span>
                                            }

                                        </td>
                                        <td>
                                            @if (item.IsRead)
                                            {
                                                <span class="ti-check-box"></span>
                                            }
                                            else
                                            {
                                                <span class="ti-control-stop"></span>
                                            }

                                        </td>
                                        <td>@item.Date.ToString("g")</td>
                                        <td>
                                            <a href="/UserAdmin/Messange/Show/@item.Id" class="text-primary"><span class="ti-eye"></span></a>
                                            <a onclick="return confirm('Are You Sure Delete?')" href="/UserAdmin/Messange/Delete/@item.Id" class="text-danger"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table end -->

    </div>
</div>


@section footer_link{
    <partial name="_AdminPanelListScripts" />
}