@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@{
    User user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/uversalfilo.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">



    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    @RenderSection("header", false)

    <!-- =======================================================
    * Template Name: DevFolio - v4.7.1
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">UnversalFilo</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " asp-fragment="hero" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link scrollto" asp-fragment="about" asp-controller="Home" asp-action="Index">About</a></li>
                    <li><a class="nav-link scrollto" asp-fragment="services" asp-controller="Home" asp-action="Index">Services</a></li>
                    <li><a class="nav-link scrollto " asp-fragment="work" asp-controller="Home" asp-action="Index">Work</a></li>
                    <li><a class="nav-link scrollto " asp-fragment="blog" asp-controller="Home" asp-action="Index">Blog</a></li>
                    <li><a class="nav-link scrollto" asp-fragment="contact" asp-controller="Home" asp-action="Index">Contact</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Assistant" asp-action="Search"><i style="font-size:1.2rem;" class="bi bi-search"></i></a></li>

                    <li class="dropdown">

                        @if (user == null)
                        {

                            <a href="/Signin/Login"><i style="font-size:1.5rem;" class="bi bi-person"></i> <i class="bi bi-chevron-down"></i></a>
                            <ul style="left: -37px !important;" class=" text-center ">
                                <li><a href="/Signin/Login" class="d-block">Login</a></li>
                                <li><a href="/Signin/Register" class="d-block">Register</a></li>
                            </ul>

                        }
                        else
                        {
                            <a href="#"><i style="font-size:1.5rem;" class="bi bi-person"></i> <i class="bi bi-chevron-down"></i></a>
                            <ul style="left: -37px !important;" class=" text-center ">
                                <li>
                                    <div class="w-50" style="position: relative;
                                                                left: 50%;
                                                                transform:translate(-50%,0%);">
                                        <div>
                                            <img class="img-fluid rounded-circle" src="~/img/Profile/@user.Image" alt="">
                                        </div>
                                        <div>@user.FirstName</div>
                                    </div>
                                </li>
                                <li><a href="/Home/Index/@user.UserName" class="d-block">My Portfolio</a></li>
                                <li><a href="/UserAdmin" class="d-block">Show My Admin Panel</a></li>
                                <li><a href="/Signin/LogOut" class="d-block"><i style="font-size:larger;font-weight:700;" class="bi bi-power mx-1"></i>Log Out</a></li>
                            </ul>
                        }


                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->



    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/purecounter/purecounter.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/typed.js/typed.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/Admin/assets/js/vendor/jquery-2.2.4.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

    @RenderSection("script", false)

</body>

</html>





















